@model List<Domain.Entity.Company>

@{
    Layout = "_Layout";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Empresas</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header border-0">
            <h3 class="card-title">Empresas</h3>
            <div class="card-tools">
                <a asp-area="Partners" asp-action="New">Nova Empresa</a>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th></th>
                    <th>CNPJ</th>
                </tr>
                </thead>
                <tbody>
                @foreach(var company in @Model)
                {
                    <tr>
                        <td><a asp-area="Partners" asp-action="Edit" asp-route-id="@company.Id" >@company.Name</a></td>
                        <td>
                            @* <span class="badge bg-danger" style="display: @(i % 2 == 0 ? "none" : "")">DONO</span> *@
                        </td>
                        <td>@company.Document</td>
                    </tr>
                }
@*                 @for (var i = 1; i <= 10; i++) *@
@*                 { *@
@*                     <tr> *@
@*                         <td>Indgo Soluções em Tecnologia <i class="fas fa-check-circle fa-xs" style="color: #1b6ec2; display: @(i % 2 == 0 ? "none" : "")"></i></td> *@
@*                         <td> *@
@*                             <span class="badge bg-danger" style="display: @(i % 2 == 0 ? "none" : "")">DONO</span> *@
@*                         </td> *@
@*                         <td>30.232.370/0001-15</td> *@
@*                     </tr> *@
@*                 } *@
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            @* <ul class="pagination pagination-sm m-0 float-right"> *@
            @*     <li class="page-item"> *@
            @*         <a class="page-link" href="#">«</a> *@
            @*     </li> *@
            @*     <li class="page-item"> *@
            @*         <a class="page-link" href="#">1</a> *@
            @*     </li> *@
            @*     <li class="page-item"> *@
            @*         <a class="page-link" href="#">2</a> *@
            @*     </li> *@
            @*     <li class="page-item"> *@
            @*         <a class="page-link" href="#">3</a> *@
            @*     </li> *@
            @*     <li class="page-item"> *@
            @*         <a class="page-link" href="#">»</a> *@
            @*     </li> *@
            @* </ul> *@
        </div>
        <!-- /.card-footer -->
    </div>
</section>
<!-- /.content -->