@model IPagedList<Domain.Entity.JobOpportunity>
@{
    ViewData["Title"] = "Vagas";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/style2.css">
}

<!-- INICIO Banner -->
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/img01.png');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="mb-4 text-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">HOME > VAGAS</p>
                <h1 class="mb-4 text-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Vagas Disponíveis</h1>
            </div>
        </div>
    </div>
</section>
<!-- FINAL nav -->

<!-- INICIO Jobs -->
<section class="ftco-section">
    <div class="container">


        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="">
                    What is Lorem Ipsum?
                </h2>
                <span class="elementposition">
                    <img src="~/images/seta.png">
                </span>
            </div>
        </div>


        <div class="row">
            @foreach (var job in @Model)
            {
                <div class="col-md-3 elemente">
                    <p class="elementex">
                        @job.Company.Name<br>
                        <a asp-action="JobOpportunity" asp-route-companyNamespace="@job.Company.Namespace" asp-route-jobOpportunityUri="@job.Uri">@job.Title</a><br>
                        <span>
                            <i class="fas fa-map-marker"></i> Fortaleza - CE<br>
                            <i class="fas fa-clock"></i> segunda, 23/05
                        </span>
                    </p>
                </div>
            }
        </div>
        <br>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    @Html.PagedListPager(Model, page => Url.Action("JobOpportunities", new {pageIndex = page}),
                        new PagedListRenderOptions
                        {
                            LinkToPreviousPageFormat = "<i class='fas fa-chevron-left'></i>",
                            LinkToNextPageFormat = "<i class='fas fa-chevron-right'></i>",
                            UlElementClasses = new string[]{},
                        })
                </div>
            </div>
        </div>

    </div>
</section>
<!-- FINAL Jobs -->